.display3 {
    display: table;
    justify-content: normal;
    width: 100%;
    height: 100px;
    border: 1px solid #ffbacd;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #efefef;
    color: #353535;
    border-radius: 8px;
    overflow: hidden;
    font-size: 12px;
    font-family: monospace;
}

.display3 th,
.display3 td {
    padding: 12px;
    text-align: center;
}

    .display3 thead {
    background-color: #ffbacd;
    font-weight: bold;
    }

    .no-task {
    text-align: center;
    padding: 20px;
    color: #393939;
    }

    
    
    
    
    
    
    
    
    .logoadlan{
        display: block;
        margin: auto;
        width: 170px;
        margin-bottom: 15px;
    }


    body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(226, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    }

    h1 {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
    }

    .todo {
    width: 100%;
    max-width: 550px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    }

    .top-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: nowrap;
    }

    #display1,
    #display2 {
    flex: 1;
    min-width: 0;
    height: 50px;
    padding: 10px;
    border: 1px solid #ffbacd;
    border-radius: 5px;
    background-color: #efefef;
    text-align: left;
    box-sizing: border-box;
    }

    .tombol {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
    font-weight: bold;
    flex-shrink: 0;
    color: #353535;
    font-weight: bold;
    font-family: monospace;
    }

    .tombol:active {
    background-color: rgb(162, 162, 162);
    }

    .plus {
    background-color: #ffbacd;
    }

    .plus:active {
    background-color: rgb(170, 119, 119);
    }

    .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    }

    .btn,
    .btn2 {
    padding: 15px;
    min-width: 100px;
    border: none;
    border-radius: 8px;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
    box-sizing: border-box;
    color: #353535;
    font-weight: bold;
    font-family: monospace;
    }

    .btn:active,
    .btn2:active {
    background-color: rgb(162, 162, 162);
    }

    .operator {
    background-color: rgb(255, 186, 205);
    }

    .operator:active {
    background-color: rgb(170, 119, 119);
    }

    .middle {
    flex: 1;
    }

    /* #display3 {
    width: 100%;
    height: 80px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: 1px solid #ffbacd;
    border-radius: 5px;
    background-color: #efefef;
    box-sizing: border-box;
    } */


    @media (max-width: 600px) {
    .top-row {
        flex-wrap: nowrap;
    }

    #display1,
    #display2 {
        flex: 1;

    }

    .tombol.plus {
        flex-shrink: 0;
        height: 50px; 
    }

    .button {
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btn,
    .btn2 {
        flex: 1;
        min-width: 45%;
        /* height: 60px;  */
    }

    .logoadlan {
        margin-bottom: 30px;
    }

    .todo {
        padding: 48px 20px; 
    }

    #display3 {
        height: 70px;
    }
}
